{%- if site.github_username -%}
<a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"
   title="Github profile">
  <i class="fa fa-github-square fa-3x"></i>
</a>
{%- endif -%}

{%- if site.scholar_username -%}
<a href="https://scholar.google.com/citations?user={{ site.scholar_username| cgi_escape | escape }}"
   title="Google scholar profile">
  <i class="ai ai-google-scholar-square ai-3x"></i>
</a>
{%- endif -%}

{%- if site.ads_link -%}
<a href="{{site.ads_link}}"
   title="NASA ADS publications">
  <i class="ai ai-ads-square ai-3x"></i>
</a>
{%- endif -%}

{%- if site.twitter_username -%}
<a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"
   title="Twitter profile">
  <i class="fa fa-twitter-square fa-3x"></i>      
</a>
{%- endif -%}

{%- if site.youtube_username -%}
<a href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}"
   title="Youtube profile">
  <i class="fa fa-youtube-square fa-3x"></i>        
</a>
{%- endif -%}
